# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=...
LANGCHAIN_API_KEY=...
GOOGLE_API_KEY = ...
HUGGINGFACEHUB_API_TOKEN=...
